<div class="block5">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sity.name %>
</p>

<p>
  <strong>X:</strong>
  <%= @sity.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @sity.y %>
</p>

<%= link_to 'Edit', edit_sity_path(@sity) %> |
<%= link_to 'Back', sities_path %>
</div>