<div class="block5">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @auto.name %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @auto.speed %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
</div>