<!DOCTYPE html>
<html>
	<head>
	  <title>Airport2</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<div class="block_devise">
	<%= render 'layouts/user_widget' %>
	</div>
		<div class="block1">
			<div class="block2">
			<%= yield %>
			<img src="/assets/forma_big.jpg" width="900" height="300">
			</div>
		  	<div class="text">
		  	</div>
		  	<a href="forma"><img src="/assets/forma_in.jpg" width="250" height="50" onmouseover="this.src='/assets/forma_out.jpg';" onmouseout="this.src='/assets/forma_in.jpg';"></a>
	  	</div>
		<div class="block12">  	
		<a href="forma">To return to the main page</a>	
		</div>
	</body>
</html>